section.about
  .container
    .furniture
      .image
        img(src='../img/about.png' alt='')
      .text
        .text-title
          .title-line
          h2 ABOUT US
        .text-subtitle
          .subtitle-line
          p
            | We are the team of professionals in the wood processing and creating of wooden furniture
            | of the highest class.
        .text-link
          a.readmore(href='#')
            | read more &nbsp;
            i.fas.fa-long-arrow-alt-right
          .link-line
