    
section.furn
  .furniture
    .text
      .text-title
        .title-line
        h2 FURNITURE
      .text-subtitle
        .subtitle-line
        p
          | Wooder utilizes materials otherwise left behind rendered useless in their original
          | intent. By creating new pieces made of reclaimed barnwood
      .text-link
        a.readmore(href='')
          | read more &nbsp;
          i.fas.fa-long-arrow-alt-right
        .link-line
      .number-box
        span.number
          | 01
          span.point .
        .number-line
    .image
      img(src='@img/furniture1.png' alt='')
  .decor
    .image
      img(src='@img/furniture2.png' alt='')
    .text
      .text-title
        h2 DECOR
        .title-line
      .text-subtitle
        p
          | We make all types of wooden decor as per design given an architect, Interior designer,
          | contactor which id suitable
        .subtitle-line
      .text-link
        a.readmore(href='')
          | read more &nbsp;
          i.fas.fa-long-arrow-alt-right
        .link-line
      .number-box
        span.number
          | 02
          span.point .
        .number-line
