section.intro
  .left
    .sections
      span.line
      span.number 01
      span.circle
      span.circle
  .title
    h1 WOODER
    a(href='#').readmore
      | read more &nbsp;
      i.fas.fa-long-arrow-alt-right
  .right
    .share
      i.fas.fa-share-alt