section.outro
  .container
    .text
      .text-title
        .title-line
        h2 WE DO THE DESIGN OF ANY COMPLEXITY
      .text-subtitle
        p
          | This is the team of professionals who makes the furniture and wood decor high standard,
          | creating modern designs. Adhering to the global quality standards. And we are doimg work
          | with love.
      .text-link
        a.readmore(href='')
          | read more &nbsp;
          i.fas.fa-long-arrow-alt-right
      .number-box
        span.number
          | 03
          span.point .
        .number-line
  .player
    img(src='../img/player.png' alt='')
