section.quality
  .quality-title
    h1 wooder - is quality
    .line
    p We create unique design objects made of rare wood specially under the order.
  .images
    .image-item
      img(src='../img/circ1.png' alt='')
      .line
      span Innovative designs
    .image-item
      img(src='../img/circ2.png' alt='')
      .line
      span High level skills
    .image-item
      img(src='../img/circ3.png' alt='')
      .line
      span Quality products