@import 'fonts';
@import '_variables';
@import 'components/_header';
@import 'components/_intro';
@import 'components/_furniture';
@import 'components/_quality';
@import 'components/_outro';
@import 'components/_about';
@import 'components/_footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ProximaNova;
}
html {
  font-size: 90%;

  @media (max-width: 750px) {
    font-size: 80%;
  }
  @media (max-width: 450px) {
    font-size: 70%;
  }
}

body {
  min-height: 100vh;
  width: 100vw;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
